apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-app-server-ingress
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: {{ .Release.Name }}-server
            port:
              number: 3000
